.env
.venv
*.log

celerybeat-schedule.*

node_modules

__pycache__
.pytest_cache

/server/file
/server/wheelhouse
/server/deps
/server/instance
/server/data
/server/log
/server/dist
/server/build

/web/dist
